@font-face {
    font-family: "punjabi";
    src: url("../fonts/punjabi.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
    .punjabi{
        font-family: "punjabi" !important; 
        font-size:30px;
    }