@font-face {
    font-family: "punjabi";
    src: url("../fonts/punjabi.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
@font-face {
    font-family: "hindi";
    src: url("../fonts/hindi.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
@font-face {
    font-family: "tamil";
    src: url("../fonts/tamil.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
@font-face {
    font-family: "telugu";
    src: url("../fonts/telugu.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    }
@font-face {
    font-family: "urdu";
    src: url("../fonts/urdu.ttf") format("truetype");   
        /* Make sure you defined the correct path, which is related to
            the location of your file `my_css.css` */ 
    } 

    .pan{
        font-family: "punjabi" !important; 
        font-size:20px !important;
    }
    .tam{
        font-family: "tamil" !important; 
        font-size:20px !important;
    }    
    .hin{
        font-family: "hindi" !important; 
        font-size:20px !important;
    }
    .tel{
        font-family: "telugu" !important; 
        font-size:20px !important;
    }    
    .urd{
        font-family: "urdu" !important; 
        font-size:20px !important;
    }         